In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as  sm
import statsmodels.tsa.seasonal as seasonal 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_absolute_percentage_error as mape
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [2]:
data=pd.read_csv("C:/Users/venky kishore/Downloads/MonthWiseMarketArrivals_Clean.csv")

In [3]:
data.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012

In [4]:
index = pd.to_datetime(data.date)
data.date = pd.DatetimeIndex(data.date)
data.index

RangeIndex(start=0, stop=10227, step=1)

In [5]:
data.index = pd.PeriodIndex(data.date, freq="M")

In [6]:
data.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
date,,,,,,,,,,
2005-01,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,2005-01-01
2006-01,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,2006-01-01
2010-01,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,2010-01-01
2011-01,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,2011-01-01
2012-01,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,2012-01-01

In [7]:
data= data.drop(["market","month","year","priceMin","priceMax","state","city"], axis=1)

In [8]:
data.head()

         quantity  priceMod       date
date
2005-01      2350       446 2005-01-01
2006-01       900       563 2006-01-01
2010-01       790      1460 2010-01-01
2011-01       245      3433 2011-01-01
2012-01      1035       605 2012-01-01

In [9]:
data.shape

(10227, 3)

In [10]:
train=data.iloc[:8182]
test=data.iloc[8182:]

In [11]:
shiftdata=data.shift(1)

In [12]:
rollingavg=shiftdata.rolling(2050).mean()

In [13]:
rollingavg.tail()

             quantity    priceMod
date
2011-12  46184.012683  924.908293
2012-12  46184.600976  924.844390
2013-12  46277.309268  924.921463
2014-12  46370.683902  924.408293
2015-12  46440.678049  924.594146